.container {
  background-color: var(--background__2);
  border-radius: 9px;
  border: 2px solid var(--border);

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  max-width: 100vw;
  width: 600px;
  user-select: none;
}

.heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  /* display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px; */

  color: var(--light__2);
  padding: 1em;
  border-bottom: 2px solid var(--border);
  font-size: 24px;
  font-weight: 700;
}

.element {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.5em;
  align-items: center;
  font-size: 0.8em;
}

.element h2 {
  font-size: 1.2em;
}

.ranking {
  padding: 1em;
  width: 100%;
}
.names {
  margin: 1em;
  padding: 0.5em;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: calc(100% - 2em);

  place-items: center;

  border-radius: 9px;
  border: 2px solid var(--border);
}
@media (max-width: 1150px) {
  .container {
    width: clamp(320px, 600px, 90vw);
  }
}
@media (max-width: 768px) {
  .heading {
    font-size: 18px;
  }
}

.names span {
  font-size: 1em;
  font-weight: 500;
  color: var(--light__2);
}
.names span:first-child {
  /* place-self: start; */
}
.record {
  -webkit-tap-highlight-color: transparent;
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'date points tens button'
    'note note note note';
  place-items: center;

  width: 100%;
  padding: 1em 8px;

  font-size: 1em;
  font-weight: 500;
  color: var(--light__2);

  border: 2px solid transparent;
  border-radius: 9px;
  outline: none;

  transition: all 0.1s linear;
}

.record:nth-child(odd) {
  background-color: var(--background__1);
}
.record button {
  padding: 0.5em;
  font-size: 0.85em;
  letter-spacing: 0.25px;
  font-weight: 600;
}
.record:nth-child(even) button {
  background-color: var(--background__1);
}
.maxscore {
  color: var(--light__4);
  font-size: 0.9em;
}
/* .record:last-child {
  border-bottom: 2px solid var(--border);
} */

/* .record:focus-within button {
  border: 2px solid var(--primary__2);
} */

.name {
  justify-self: start;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.date {
  grid-area: date;
}
.points {
  grid-area: points;
}
.tens {
  grid-area: tens;
}
.note--button {
  grid-area: button;
}
.note:not(:empty) {
  /* margin-top: 10px;
  border-top: 1px solid var(--border); */
  grid-area: note;
  width: 100%;
  padding: 1em 1em 0 1em;
  place-self: start;

  color: var(--light__1);
  word-wrap: break-word;
}

.color {
  color: var(--primary__1);
  margin-left: 4px;
}
