.container {
  display: grid;
  grid-template-areas:
    'date date'
    'points tens'
    'note note';
  grid-gap: 8px;
  width: 280px;
  max-width: 280px;
}
.box {
  width: 100%;
  height: 100%;
  border-radius: 9px;
  padding: 8px;
}
.box .info {
  font-weight: 600;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #e8ebec;
}
.box .info svg {
  height: 1em;
  fill: #e8ebec;
}
.box .result {
  font-weight: 700;

  color: #f6f9f9;
}
.box__date {
  grid-area: date;
  background-color: var(--background__2);
  text-align: center;
  color: #bfbfbf;
  font-weight: 700;
}
.box__points,
.box__tens {
  background-color: #aa3434;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.box__points {
  grid-area: points;
}
.box__tens {
  grid-area: tens;
}
.box__note {
  grid-area: note;
  background-color: var(--background__2);
  display: flex;
  flex-direction: column;
}
.box__note .result:not(:empty) {
  padding: 8px;
  margin-top: 8px;
  font-weight: 500;
  word-break: break-all;
}
